/* custom-style.css */
.container.bg-light {
    background-color: #f5f5f5 !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.margin-right-icon {
    margin-right: 10px;  /* or whatever spacing you prefer */
}