.sidebar-padding{
    padding-left: 20px;
}
.btn-widen {
    width: 150px; /* You can adjust the width to your preferred value */
  }
  .center-heading{
    text-align: center;
    color: #4783e4;
    font-size: 55px;
}

.center-sub-heading{
    text-align: center;
    color: #85A6DA;
    font-size: 20px;
}
.dog-of-day-spacing{
    padding-top: 50px;
}